<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" type = "text/css" href="style.css">
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <title>Sendator</title>
</head>

<body>

  <div id = "title">
    <p>Sendator</p>
  </div>

  <div>
    <form action="/api/email" method="post">
      Name:<br>
      <input type="text" name="name"><br>
      State:<br>
      <input type="text" name="mail"><br>
      Comment:<br>
      <input type="text" name="comment" size="50"><br><br>
      <input type="submit" value="Send">
    </form>
  </div>

<a class="twitter-timeline" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/mHacksSendator">Tweets by mHacksSendator</a>

</body>
</html>
