#twitter{

}
.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#states .active {
  fill: orange;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
.cover-heading{
  font-size:100px !important;
  font-family: 'Wendy One', sans-serif;
}


#overall-container{
   display: grid;
   grid-template-columns:10px 25%  20% auto 20% 25% 10px;
   grid-template-rows: 20% 15% 20px 100px auto;
   grid-template-columns: [start] 10px [line1] 25%[line2] 20% [line3] auto [line4] 20% [line5] 25% [line6] 10px [end];
   grid-template-rows: [row1-start] 25% [row1-end] 15% [third-line] 20px [fourth-line] 100px [fifth-line] auto [last-line];
}
.site-wrapper{
  grid-column-start: line2;
  grid-column-end: line5;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
  box-shadow: none !important;

}
#image-container{
  grid-column-start: line2;
  grid-column-end: line6;
  grid-row-start: row1-end;
  grid-row-end: third-line;
  height: 100px !important;
  width: 100% !important;
}
#form-container{
  grid-column-start: line1;
  grid-column-end: line3;
  grid-row-start: fifth-line;
  grid-row-end: last-line ;

}
#twitter-container{
  grid-column-start: line4;
  grid-column-end: line6;
  grid-row-start: fifth-line;
  grid-row-end: last-line ;
}
